<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAUNy4_femSNctOMh6jVmNh7NGVP6hd7k</string>
	<key>GCM_SENDER_ID</key>
	<string>903568178725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dompetDigital</string>
	<key>PROJECT_ID</key>
	<string>dompet-digital-9f142</string>
	<key>STORAGE_BUCKET</key>
	<string>dompet-digital-9f142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903568178725:ios:98d99cfcd599505d3409cc</string>
</dict>
</plist>